// fonts
@font-face {
    font-family: 'Helios';
    src: url('../webfonts/Helios-Light.woff2') format('woff2'),
        url('../webfonts/Helios-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Helios';
    src: url('../webfonts/Helios-Bold.woff2') format('woff2'),
        url('../webfonts/Helios-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
@font-face {
  font-family: 'AntiQuasi';
  src: url('../webfonts/AntiQuasi.woff2') format('woff2'),
      url('../webfonts/AntiQuasi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

// colors
$site-heath: #FFFCE4;
$site-ruby: #D71C6D;
$site-chocolate: #59361B;
$site-cinnabar: #DB4C3B;
$site-malibu: #61ACDE;
$site-beige: #F7F8E2;
$site-serenade: #FDEBDB;
$site-selago: #F7F1F8;
$site-gulfstream: #70B4A7;
$site-yellow: #F7A93B;
$site-rosebud: #F4A699;

$primary: $site-ruby;
$secondary: $site-malibu;

$theme-colors: (
    "site-heath": $site-heath,
    "site-ruby": $site-ruby,
    "site-chocolate": $site-chocolate,
    "site-cinnabar": $site-cinnabar,
    "site-malibu": $site-malibu,
    "site-beige": $site-beige,
    "site-serenade": $site-serenade,
    "site-selago": $site-selago,
    "site-gulfstream": $site-gulfstream,
    "site-yellow": $site-yellow,
    "site-rosebud": $site-rosebud
);

// variables
$body-color: $site-chocolate;

$font-weight-normal: 300;
$font-weight-bolder: 700;
$font-family-base: "Helios";

$headings-font-family: "AntiQuasi";
$headings-line-height: 1.1;

$small-font-size: 85%;

$link-color: $site-malibu;
$link-decoration: underline;

// classes
.font-antiquasi {
    font-family: "AntiQuasi";
}
.top-phones, .top-shop {
    z-index: 1000;
}
.navbar-brand {
    p {
        line-height: 1.1;
    }
}
.navbar-nav {
    .nav-item {
        .nav-link {
            text-decoration: none;
            font-family: "AntiQuasi";
            .catalog-menu-item {
                color: $site-chocolate;
                .h2 {
                    font-size: 1.5rem;
                    letter-spacing: -0.5pt;
                }
                small {
                    color: $site-cinnabar;
                    text-transform: uppercase;
                    font-size: 0.85rem !important;
                    line-height: 1.5;
                }
            }
        }
    }
}
.feature-card {
    h2 {
        small {
            display: block;
            font-size: 1.25rem;
            line-height: 1.1;
        }
    }
}
.header {
    background-image: inherit;
    + div {
        padding-top: 22px;
        padding-bottom: 22px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 22px;
            top: 0;
            left: 0;
            right: 0;
            background-repeat: repeat-x;
        }
        &::after {
            content: '';
            position: absolute;
            height: 22px;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('../img/wave-pistachio-up.png');
            background-repeat: repeat-x;
        }
    }
}
.header.bg-site-heath {
    + div {
        &::before {
            background-image: url('../img/wave-pink.png');
        }
    }
}
.basket-count, .basket-count:hover, .basket-count:focus {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: $site-chocolate;
}
.schedule-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem 15px;
    .schedule-date {
        .date-day {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100px;
            color: #FFFFFF;
            font-family: $headings-font-family;
            font-size: 3rem;
            padding-top: 12px;
            background-position: center center;
            background-repeat: no-repeat;
            // date background variants
            &.calendar-flower {
                background-image: url('../img/flower-date.svg');
            }
            &.calendar-star {
                background-image: url('../img/star-date.svg');
            }
        }
        .date-month {
            @extend .h4;
            text-align: center;
        }
    }
    .schedule-content {
        p {
            margin: 0;
        }
    }
}
.sidebar-h {
    display: inline-block;
    margin: 0.75rem 0;
    padding: 1.375rem 0;
    background: url('../img/circles-line-gorizontal.png') bottom left repeat-x;
}
.nav-online {
    .nav-link {
        position: relative;
        padding: 0;
        font-size: 1.25rem;
        text-decoration: none;
        color: $site-chocolate;
    }
    .nav-link.active {
        color: $site-ruby;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: -1rem;
            bottom: 10px;
            background: url('../img/marker-pink-select.png') center no-repeat;
        }
    }
}
.content {
    font-size: 1.5rem;
    p {
        color: $site-chocolate;
    }
    ul {
        position: relative;
        padding-left: 1.5rem;
        li {
            list-style: none;
            font-size: 1.25rem;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                margin-top: 0.75rem;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: $site-yellow;
            }
        }    
    }
}
.footer {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 22px;
        background-image: url('../img/wave-pistachio.png');
        background-repeat: repeat-x;
    }
    .bottom-pattern {
        min-height: 262px;
        background-color: $site-serenade;
        background-image: url('../img/background-flowers.png');
        background-repeat: repeat-x;
    }
}

// media specific
@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)

}
@media (min-width: 768px) { // Medium devices (tablets, 768px and up)

}
@media (min-width: 992px) { // Large devices (desktops, 992px and up)
    .navbar-collapse {
        padding-top: 60px;
    }
    .navbar-brand {
        p {
            margin-left: 2.5rem !important;
        }
    }
    .features {
        overflow: hidden;
        min-height: 930px;
    }
    .diploma {
        top: -60px;
        left: -240px;
    }
}
@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
    .navbar-collapse {
        padding-top: 70px;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    .catalog-menu-item {
                        .h2 {
                            font-size: 2rem !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) { // Small devices (landscape phones, less than 768px)

}

// bootstrap
@import "../../../bootstrap-4.3.1/scss/bootstrap";